
@import 'tailwindcss';

@theme {
    --color-background: oklch(1 0 0);
    --color-text: oklch(0 0 0);
    --color-main-color: oklch(79.46% 0.1574 66.21);
    --color-secondary-button-text: oklch(13.76% 0.0163 81.12);
    --color-secondary-button-border: oklch(13.76% 0.0163 81.12);
    --color-text-gray: oklch(0.5 0 0);
  
  }
